.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: $global-max-width;
  padding: 0 15px;
  margin: 0 auto;

  @include breakpoint(medium-only) {
    flex-direction: column;
  }

}
