$layout-name: "c-navbar";

.#{$layout-name} {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  .c-navbar-nav {
    display: flex;
    list-style: none;
  }

  &__item {
    margin-right: rem(5);
  }

  &__link {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
}
